// Your custom variables

$my-bg-color-primary: #212121;
$my-bg-color-secondary: #777;
$my-bg-color-ternery: #000;

$my-color-primary: #aaa;
$my-color-secondary: #ddd;
$my-color-ternery: #fff;

$my-deep-purple: #673ab7;